<h1>Resumo da Reserva</h1>

<dl>
  <dt>Pousada:</dt>
  <dd><%= @pre_reservation.room.inn.name %></dd>
  <dt>Quarto: </dt>
  <dd><%= @pre_reservation.room.number %></dd>

  <dt>Endereço: </dt>
  <dd><%= @pre_reservation.room.inn.address.full_address %></dd>
  <dt>Check-in: </dt>
  <dd><%= l(@pre_reservation.check_in_date.to_date) %></dd>
  <dt>Check-out: </dt>
  <dd><%= l(@pre_reservation.check_out_date.to_date) %></dd>
  <dt>Total: </dt>
  <dd><%= number_to_currency(@pre_reservation.total / 100) %></dd>
</dl>
<div>
<%= form_with model: @reservation, url:room_reservations_path(@pre_reservation.room) do |form| %>
  <div>
    <%= form.hidden_field :check_in_date, value:@pre_reservation.check_in_date %>
    <%= form.hidden_field :check_out_date, value:@pre_reservation.check_out_date %>
    <%= form.hidden_field :guests, value:@pre_reservation.guests %>
    <%= form.hidden_field :total, value:@pre_reservation.total %>
  <%= form.submit 'Confirmar Reserva' %>
<% end %>
</div>
