<h1>Resumo da Reserva</h1>

<dl>
  <dt>Pousada:</dt>
  <dd><%= @pre_reservation.room.inn.name %></dd>
  <dt>Quarto: </dt>
  <dd><%= @pre_reservation.room.number %></dd>

  <dt>Endereço: </dt>
  <dd><%= @pre_reservation.room.inn.address.full_address %></dd>
  <dt>Check-in: </dt>
  <dd><%= l(@pre_reservation.checkin_expected_date.to_date) %> - <%= @pre_reservation.room.inn.check_in_time %></dd>
  <dt>Check-out: </dt>
  <dd><%= l(@pre_reservation.checkout_expected_date.to_date) %> - <%= @pre_reservation.room.inn.check_out_time %></dd>
  <dt>Total: </dt>
  <dd><%= number_to_currency(@pre_reservation.total) %></dd>
  <dt>Meios de Pagamento:</dt>
  <dd><%= 'Pix' if @pre_reservation.room.inn.pix? %> </dd>
  <dd><%= 'Cartão de Crédito' if @pre_reservation.room.inn.credit? %> </dd>
  <dd><%= 'Cartão de Débito' if @pre_reservation.room.inn.debit? %> </dd>
  <dd><%= 'Dinheiro' if @pre_reservation.room.inn.cash? %> </dd>
</dl>
<div>
<%= form_with model: @reservation, url:room_reservations_path(@pre_reservation.room) do |form| %>
  <div>
    <%= form.hidden_field :checkin_expected_date, value:@pre_reservation.checkin_expected_date %>
    <%= form.hidden_field :checkout_expected_date, value:@pre_reservation.checkout_expected_date %>
    <%= form.hidden_field :guests, value:@pre_reservation.guests %>
    <%= form.hidden_field :total, value:@pre_reservation.total %>
  <%= form.submit 'Confirmar Reserva' %>
<% end %>
</div>
