<h1>Quarto <%= @room.number %></h1>
<dl>
  <dt>Descrição:</dt>
  <dd><%= @room.description %></dd>
  <dt>Capacidade:</dt>
  <dd><%= @room.capacity %> Hóspedes</dd>
  <dt>Dimensão:</dt>
  <dd><%= @room.dimension %> m²</dd>
  <dt>Banheiros:</dt>
  <dd><% if @room.bathrooms == 0 %> 
        Banheiro compartilhado 
      <% else %>
        <%= @room.bathrooms %>
      <% end %></dd>
  <dt>Camas:</dt>
  <dd><% if @room.double_beds > 0 %> <%= @room.double_beds %> de Casal <% end %><dd>
  <dd><% if @room.single_beds > 0 %> <%= @room.single_beds %> de Solteiro <% end %><dd>
  <dt>Amenidades:</dt> 
  <dd><%= 'Cozinha' if @room.kitchen? %> </dd>
  <dd><%= 'Varanda' if @room.balcony? %> </dd>
  <dd><%= 'Ar Condicionado' if @room.air? %> </dd>
  <dd><%= 'TV' if @room.tv? %> </dd>
  <dd><%= 'Guarda-Roupas' if @room.wardrobe? %> </dd>
  <dd><%= 'Cofre' if @room.safe? %> </dd>
  <dt>Acessível para PCD:</dt> 
  <dd><%= @room.kitchen? ? 'Sim' : 'Não' %> </dd>
</dl>
  <div>
    <h3>Fazer Reserva</h3>
    <%= form_with model:@pre_reservation, url: room_pre_reservations_path do |form| %>
      <div>
        <%= form.label :check_in_date %>
        <%= form.date_field :check_in_date %>
      </div>
      <div>
        <%= form.label :check_out_date %>
        <%= form.date_field :check_out_date %>
      </div>
      <div>
        <%= form.label :guests %>
        <%= form.number_field :guests %>
      </div>
      <div>
        <%= form.submit 'Checar Disponibilidade' %>
      </div>
    <% end %>
  </div>
  <div>
  <%= link_to('Voltar', inn_path(@room.inn))%>
  </div>
