<h1> Mudar Status da Pousada </h1>

<% if @inn.active %>
  <h2>Você tem certeza que deseja desativar sua pousada?</h2>
  <div class="row">
    <div class="col">
      <%= button_to 'Voltar', my_inn_path%>
    </div>
    <div class="col">
      <%= form_with(url: deactivate_inn_path, method: "post") do |f| %>
        <%= f.submit 'Desativar' %>
    </div>
  <div>
  <% end %>

<% else %>
  <h2>Você tem certeza que deseja reativar sua pousada?</h2>
  <div class="row">
    <div class="col">
      <%= button_to 'Voltar', my_inn_path%>
    </div>
    <div class="col">
      <%= form_with(url: activate_inn_path, method: "post") do |f| %>
        <%= f.submit 'Reativar' %>
    </div>
  <% end %>
<% end %>