<h1>Editar Pousada</h1>
<h3> Dados da Empresa </h3>
<%= form_with(model: @inn) do |form| %>
  <div>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :company_name %>
      <%= form.text_field :company_name %>
    </div>
    <div>
      <%= form.label :cnpj %>
      <%= form.text_field :cnpj %>
    </div>
    <div>
      <%= form.label :phone %>
      <%= form.telephone_field :phone %>
    </div>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>
  </div>
  <div>
  <h3> Endereço da Pousada </h3>
    <%= form.fields_for :address do |address_form| %>
      <div>
        <%= address_form.label :street, 'Logradouro' %>
        <%= address_form.text_field :street %>
      </div>
      <div>
        <%= address_form.label :number, 'Número' %>
        <%= address_form.text_field :number %>
      </div>
      <div>
        <%= address_form.label :neighborhood, 'Bairro' %>
        <%= address_form.text_field :neighborhood %>
      </div>
      <div>
        <%= address_form.label :city, 'Cidade' %>
        <%= address_form.text_field :city %>
      </div>
      <div>
        <%= address_form.label :state, 'Estado' %>
        <%= address_form.text_field :state %>
      </div>
      <div>
        <%= address_form.label :cep, 'CEP' %>
        <%= address_form.text_field :cep %>
      </div>
    <% end %>
  </div><br>
  <div>
    <%= form.submit 'Atualizar' %>
  </div>
<% end %>