
<h1> <%= @inn.name %> </h1>

<div>
    <h3> Dados da Pousada </h3>
</div>
<div>
  <dl>
    <dt>Nome:</dt>
    <dd><%= @inn.name %></dd>
    <dt>CNPJ:</dt>
    <dd><%= @inn.cnpj %></dd>
    <dt>Endereço:</dt>
    <dd><%= @inn.address.full_address %></dd>
    <dt>CEP:</dt>
    <dd><%= @inn.address.cep %> </dd>
    <dt>Telefone:</dt>
    <dd><%= @inn.phone %> </dd>
    <dt>E-mail:</dt>
    <dd><%= @inn.email %> </dd>
  </dl>
  <div>
    <%= link_to 'Editar Pousada', edit_inn_path(@inn.id) %>
  </div>
</div>
<div>
  <% if @inn.rooms.any? %>
    <div>
      <h3> Quartos </h3>
      <% @inn.rooms.each do |room| %>
      <dl>
        <dd>Quarto - <%= room.number %></dd>
        <dt>Diária:</dt>
        <dd><%= number_to_currency(room.price_cents / 100) %></dd>
        <dt>Descrição:</dt>
        <dd><%= room.description %></dd>
        <dt>Comporta:</dt>
        <dd><%= room.capacity %> Hóspedes</dd>
        <dt>Banheiros:</dt>
        <dd><% if room.bathrooms == 0 %> Banheiro compartilhado 
            <% else %> <%= room.bathrooms %><% end %></dd>
        <dt>Camas:</dt>
        <dd><% if room.double_beds > 0 %> <%= room.double_beds %> de Casal <% end %><dd>
        <dd><% if room.single_beds > 0 %> <%= room.single_beds %> de Solteiro <% end %><dd>
        <dt>Cozinha:</dt> 
        <dd><%= I18n.translate("room.kitchen.#{room.kitchen.to_s}") %> </dd>
        <dt>Períodos de alteração de preço:</dt> 
        <% if room.custom_dates.any? %>
          <% room.custom_dates.each do |cd| %>
            <dd id="custom_dates">De <%= l(cd.begin) %> até <%= l(cd.end) %> - Diária: 
            <%= number_to_currency(cd.price_cents / 100) %></dd>
          <% end %>
        <% else %>
          <dd>Sem períodos de alteração de preço adicionados.</dd>
        <% end %>
        <%= link_to 'Adicionar período alteração de preço', new_room_custom_date_path(room.id) %>
      </dl>
      <div>
        <%= link_to "Editar Quarto #{room.number}", edit_room_path(room.id)%>
      </div>
      <% end %>
    </div>
  <% else %>
    <p> Sem quartos registrados </p>
  <% end %>
    <%= link_to 'Adicionar Quarto', new_inn_room_path(@inn.id) %>
</div>