<h1> Cadastrar Pousada </h1>

<% if(@inn.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @inn.errors.full_messages.each do |msg| %>
    <li> <%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_with(model: @inn, url: inns_path) do |form| %>
<h3> Dados da Empresa </h3>
  <div>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :company_name %>
      <%= form.text_field :company_name %>
    </div>
    <div>
      <%= form.label :cnpj %>
      <%= form.text_field :cnpj %>
    </div>
    <div>
      <%= form.label :phone %>
      <%= form.telephone_field :phone %>
    </div>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>
  </div>
  <h3>Informações da Pousada</h3>
  <div>
    <div>
      <%= form.label :policies %>
      <%= form.text_area :policies %>
    </div>
    <div>
      <%= form.label :check_in_time %>
      <%= form.time_field :check_in_time%>
    </div>
    <div>
      <%= form.label :check_out_time %>
      <%= form.time_field :check_out_time %>
    </div>
    <div>
      <%= form.check_box :pets %>
      <%= form.label :pets %>
    </div>
    <h4>Meios de Pagamento</h4>
    <div>
      <%= form.check_box :pix %>
      <%= form.label :pix %>
    </div>
    <div>
      <%= form.check_box :credit %>
      <%= form.label :credit %>
    </div>
    <div>
      <%= form.check_box :debit %>
      <%= form.label :debit %>
    </div>
    <div>
      <%= form.check_box :cash %>
      <%= form.label :cash %>
    </div>
  </div>
  <div>
  <h3> Endereço da Pousada </h3>
    <%= form.fields_for :address do |address_form| %>
      <div>
        <%= address_form.label :street, 'Logradouro' %>
        <%= address_form.text_field :street %>
      </div>
      <div>
        <%= address_form.label :number, 'Número' %>
        <%= address_form.text_field :number %>
      </div>
      <div>
        <%= address_form.label :neighborhood, 'Bairro' %>
        <%= address_form.text_field :neighborhood %>
      </div>
      <div>
        <%= address_form.label :city, 'Cidade' %>
        <%= address_form.text_field :city %>
      </div>
      <div>
        <%= address_form.label :state, 'Estado' %>
        <%= address_form.text_field :state %>
      </div>
      <div>
        <%= address_form.label :cep, 'CEP' %>
        <%= address_form.text_field :cep %>
      </div>
    <% end %>
  </div><br>
  <div>
    <%= form.submit 'Cadastrar' %>
  </div>
<% end %>


