<h1> Avaliações da Pousada <%= @inn.name %></h1>

<% if @reviews.empty? %>
  Sem Avaliações
<% end %>
<dl>
<% @reviews.each do |review| %>
  <dt>Quarto:</dt>
  <dd><%= review.reservation.room.number %></dd>
  <dt>Nota:</dt>
  <dd><%= review.score %></dd>
  <dt>Mensagem:</dt>
  <dd><%= review.message %></dd>
  <% unless review.answer.nil? %>
    <dt>Resposta:</dt>
    <dd><%= review.answer %></dd>
  <% end %>
<% end %>
</dl>