<h1> Resultados da busca por: <%= @query %></h1>
<h3>Resultados encontrados: <%= @count %></h3>

<% if @count == 0 %>
  Nenhum resultado foi encontrado
<% end %>
<div>
<% @inns.each do |inn| %>
  <div>
    <%= link_to inn_path(inn) do%>
      <p><%= inn.name %><br>
      <%= inn.address.neighborhood %>, <%= inn.address.city %> - <%= inn.address.state %></p>
    <% end %>
  </div>
<% end %>
</div>