<h1> <%= @inn.name %> </h1>

<div>
    <h3> Dados da Pousada </h3>
</div>
<div>
  <dl>
    <dt>Nome:</dt>
    <dd><%= @inn.name %></dd>
    <dt>Endereço:</dt>
    <dd><%= @inn.address.full_address %></dd>
    <dt>CEP:</dt>
    <dd><%= @inn.address.cep %> </dd>
    <dt>Telefone:</dt>
    <dd><%= @inn.phone %> </dd>
    <dt>E-mail:</dt>
    <dd><%= @inn.email %> </dd>
  </dl>
</div>
<div>
  <% if @inn.rooms.any? %>
    <div>
      <h3> Quartos </h3>
      <% @inn.rooms.each do |room| %>
      <dl>
        <%= link_to room_path(room.id) do %>
          <dd>Quarto <%= room.number %></dd>
        <% end %>
        <dt>Capacidade:</dt>
        <dd><%= room.capacity %> Hóspedes</dd>
        <dt>Descrição:</dt>
        <dd><%= room.description %></dd>
      </dl>
      <% end %>
    </div>
  <% else %>
    <p> Sem quartos registrados </p>
  <% end %>
</div>