<h1> <%= @inn.name %> </h1>

<div>
    <h3> Dados da Pousada </h3>
</div>
<div>
  <dl>
    <dt>Nome:</dt>
    <dd><%= @inn.name %></dd>
    <dt>Endereço:</dt>
    <dd><%= @inn.address.full_address %></dd>
    <dt>CEP:</dt>
    <dd><%= @inn.address.cep %> </dd>
    <dt>Telefone:</dt>
    <dd><%= @inn.phone %> </dd>
    <dt>E-mail:</dt>
    <dd><%= @inn.email %> </dd>
  </dl>
<div>
    <h3> Informações da Pousada </h3>
</div>
<div>
  <dl>
    <dt>Políticas:</dt>
    <dd><%= @inn.policies %></dd>
    <dt>Aceita pets:</dt>
    <dd><%= I18n.translate("inn.pets.#{@inn.pets.to_s}") %> </dd>
    <dt>Horário de Check-in:</dt>
    <dd><%= @inn.check_in_time %></dd>
    <dt>Horário de Check-out:</dt>
    <dd><%= @inn.check_out_time %></dd>
    <dt>Meios de Pagamento:</dt>
    <dd><%= 'Pix' if @inn.pix? %> </dd>
    <dd><%= 'Cartão de Crédito' if @inn.credit? %> </dd>
    <dd><%= 'Cartão de Débito' if @inn.debit? %> </dd>
    <dd><%= 'Dinheiro' if @inn.cash? %> </dd>
  </dl>
</div>
<div>
    <h3> Avaliações: <%= @score %> </h3>
</div>
<div>
  <% if @reviews.any? %>
    <div>
      <% @reviews.each do |review| %>
      <dl>
        <dt>Quarto:</dt>
        <dd><%= review.reservation.room.number %></dd>
        <dt>Nota:</dt>
        <dd><%= review.score %></dd>
        <dt>Mensagem:</dt>
        <dd><%= review.message %></dd>
      </dl>
      <% end %>
    </div>
  <% else %>
    <p> Sem avaliações registradas </p>
  <% end %>
</div>
<div>
  <% if @inn.rooms.any? %>
    <div>
      <h3> Quartos </h3>
      <% @inn.rooms.each do |room| %>
      <dl>
        <%= link_to room_path(room.id) do %>
          <dd>Quarto <%= room.number %></dd>
        <% end %>
        <dt>Capacidade:</dt>
        <dd><%= room.capacity %> Hóspedes</dd>
        <dt>Descrição:</dt>
        <dd><%= room.description %></dd>
      </dl>
      <% end %>
    </div>
  <% else %>
    <p> Sem quartos registrados </p>
  <% end %>
</div>