<h1> Reserva <%= @reservation.code %> </h1>

<dl>
  <%= link_to room_path(@reservation.room) do %>
    <dt>Quarto: </dt>
    <dd><%= @reservation.room.number %></dd>
  <% end %>
  <dt>Hóspedes: </dt>
  <dd><%=  @reservation.guests %></dd>
  <dt>Check-in: </dt>
  <dd><%= l(@reservation.check_in_date) %> - <%= @reservation.room.inn.check_in_time %></dd>
  <dt>Check-out: </dt>
  <dd><%= l(@reservation.check_out_date) %> - <%= @reservation.room.inn.check_out_time %></dd>
  <dt>Total: </dt>
  <dd><%= number_to_currency(@reservation.total) %></dd>
  <% if @reservation.paid? %>
    <dt>Forma de Pagamento:</dt>
    <dd><%= @reservation.payment_method %></dd>
  <% end %>
  <dt>Status da Reserva:</dt>
  <dd><%= I18n.translate(@reservation.status) %></dd>
  <% unless @reservation.checked_in_datetime.nil? %>
    <dt>Check-in Registrado:</dt>
    <dd><%= @reservation.checked_in_datetime %></dd>
  <% end %>
  <% unless @reservation.checked_out_datetime.nil? %>
    <dt>Check-out Registrado:</dt>
    <dd><%= @reservation.checked_out_datetime %></dd>
  <% end %>
</dl>

<% if @reservation.confirmed? %>
  <%= button_to 'Realizar Check-in', check_in_reservation_path(@reservation) %>
  <%= button_to 'Cancelar Reserva', admin_cancelled_reservation_path(@reservation) %> 
<% end %>
<% if @reservation.ongoing? %>
  <%= link_to 'Realizar Check-out', check_out_reservation_path(@reservation) %> 
<% end %>