<h1>Reservas</h1>

<% if @reservations.empty? %>
  Sem reservas registradas
<% end %>
<% @reservations.each do |r| %>
  <div>
    <dt>Código:</dt>
  <%= link_to admin_reservation_path(r) do %>
    <dd><%= r.code %></dd>
  <% end %>
    <dt>Quarto: </dt>
    <dd><%= r.room.number %></dd>
    <dt>Hóspedes: </dt>
    <dd><%= r.guests %></dd>
    <dt>Check-in: </dt>
    <dd><%= l(r.check_in_date) %></dd>
    <dt>Check-out: </dt>
    <dd><%= l(r.check_out_date) %></dd>
    <br>
  </div>
<% end %>