<h1> Editar Quarto <%= @room.number %></h1>

<%= form_with(model: @room) do |form| %>
  <div>
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :double_beds %>
    <%= form.number_field :double_beds %>
  </div>
  <div>
    <%= form.label :single_beds %>
    <%= form.number_field :single_beds %>
  </div>
  <div>
    <%= form.label :capacity, 'Hóspedes' %>
    <%= form.number_field :capacity %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms %>
  </div>
  <div>
    <%= form.label :dimension %>
    <%= form.number_field :dimension %>
  </div>
  <div>
    <%= form.check_box :kitchen %>
    <%= form.label :kitchen %>
  </div>
  <div>
    <%= form.check_box :air %>
    <%= form.label :air %>
  </div>
  <div>
    <%= form.check_box :wardrobe %>
    <%= form.label :wardrobe %>
  </div>
  <div>
    <%= form.check_box :balcony %>
    <%= form.label :balcony %>
  </div>
  <div>
    <%= form.check_box :safe %>
    <%= form.label :safe %>
  </div>
  <div>
    <%= form.check_box :tv %>
    <%= form.label :tv %>
  </div>
  <div>
    <%= form.check_box :accessible %>
    <%= form.label :accessible %>
  </div>
  <div>
    <%= form.submit 'Atualizar' %>
  </div>
<% end %>