<h1>Adicionar Quarto</h1>

<%= form_with(model: @room, url: inn_rooms_path ) do |form| %>
  <div>
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :double_beds %>
    <%= form.number_field :double_beds %>
  </div>
  <div>
    <%= form.label :single_beds %>
    <%= form.number_field :single_beds %>
  </div>
  <div>
    <%= form.label :capacity, 'Hóspedes' %>
    <%= form.number_field :capacity %>
  </div>
  <div>
    <%= form.label :price_cents %>
    <%= form.number_field :price_cents %>
  </div>
  <div>
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms %>
  </div>
  <div>
    <%= form.check_box :kitchen %>
    <%= form.label :kitchen %>
  </div>
  <div>
    <%= form.submit 'Cadastrar' %>
  </div>
<% end %>
