<h1>Quarto <%= @room.number %></h1>
<dl>
  <dt>Descrição:</dt>
  <dd><%= @room.description %></dd>
  <dt>Capacidade:</dt>
  <dd><%= @room.capacity %> Hóspedes</dd>
  <dt>Dimensão:</dt>
  <dd><%= @room.dimension %> m²</dd>
  <dt>Banheiros:</dt>
  <dd><% if @room.bathrooms == 0 %> 
        Banheiro compartilhado 
      <% else %>
        <%= @room.bathrooms %>
      <% end %></dd>
  <dt>Camas:</dt>
  <dd><% if @room.double_beds > 0 %> <%= @room.double_beds %> de Casal <% end %><dd>
  <dd><% if @room.single_beds > 0 %> <%= @room.single_beds %> de Solteiro <% end %><dd>
  <dt>Amenidades:</dt> 
  <dd><%= 'Cozinha' if @room.kitchen? %> </dd>
  <dd><%= 'Varanda' if @room.balcony? %> </dd>
  <dd><%= 'Ar Condicionado' if @room.air? %> </dd>
  <dd><%= 'TV' if @room.tv? %> </dd>
  <dd><%= 'Guarda-Roupas' if @room.wardrobe? %> </dd>
  <dd><%= 'Cofre' if @room.safe? %> </dd>
  <dt>Acessível para PCD:</dt> 
  <dd><%= @room.kitchen? ? 'Sim' : 'Não' %> </dd>

  <% if @room.inn.user == current_user %>
    <dt>Diária:</dt>
    <dd><%= number_to_currency(@room.price) %></dd>
    <dt>Preços Sazonais:</dt> 
    <% if @room.custom_dates.any? %>
      <% @room.custom_dates.each do |cd| %>
        <dd id="custom_dates">De <%= l(cd.begin) %> até <%= l(cd.end) %> - Diária: 
        <%= number_to_currency(cd.price) %></dd>
      <% end %>
    <% else %>
      <dd>Sem períodos de alteração de preço adicionados.</dd>
    <% end %>

    <%= link_to 'Adicionar preço sazonal', new_room_custom_date_path(@room.id) %>
    <div>
      <%= link_to "Editar Quarto #{@room.number}", edit_room_path(@room.id)%><br>
      <%= link_to 'Adicionar Imagens', new_image_room_path(@room) %>
    </div>
    <div>
      <% if @room.images.any? %>
        <h3>Fotos:</h3>
        <% @room.images.each do |image| %>
          <%= link_to image_tag(@room.image_as_thumbnail(image)), image %>
        <% end %>
      <% end %>
    </div>
    <div>
    <%= link_to('Voltar', my_inn_path)%>
    </div>
  <% else %>
    <div>
    <%= link_to('Reservar', new_room_pre_reservation_path(@room.id))%> | 
    <%= link_to('Voltar', inn_path(@room.inn))%>
    </div>
  <% end %>

  </dl>
